# My Jupyter Notebook

<b>Navyashree L</b>

I currently work as an IT Trainee in Mainframe systems, but I find Data Science an intresting filed and I am learning about it.

<i>I like Data Science because it is intresting and has many carrer opportunities</i>

### Determine whether the number is odd or even

In [37]:
n = int(input("Enter a number:"))
if (n % 2)== 0:
    print("The given number is even")
else:
    print("The given number is odd")

Enter a number:2
The given number is even

<ul>
    <li> Mango </li>
    <li> Apple </li>
    <li> Banana </li>
</ul>

<hr> </hr>

<ol start = "1"> 
    <li> One </li>
    <li> Two </li>
    <li> Three </li>
</ol>

<hr> </hr>

<table>
    <thead>
        <th> Name </th>
        <th> Color </th>
    </thead>
    <tbody>
        <tr>
            <td> Rob </td>
            <td> Green </td>
        </tr>
        <tr>
            <td> Jack </td>
            <td> Red </td>
        </tr>
        <tr>
            <td> Will </td>
            <td> Blue </td>
        </tr>
    </tbody>
</table>